*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
    
.container-benefits {
    background: #FFF5E4;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 99px;
    padding-bottom: 87px;
}

.benefits-block {
    width: 270px;
    margin: 17px 30px;
}

.benefits-block-title {
    font-family: 'Oswald', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    text-align: left;
    margin-top: 39px;
    margin-bottom: 17px;
}

.benefits-block-text {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    color: rgba(51, 51, 51, 0.501557);
}

.title2 {
    font-family: 'Oswald, Arial, sans-serif';
    font-size: 56px;
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    color: #333333;
}

.signphoto {
    text-align: left;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.para-block {
    display: inline-block;
    background-color: #f0cc92;
    font-family: 'Oswald', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}

.para-text {
    text-align: left;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
} 

.input-text {
    text-align: left;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    border: 1px solid #DADADA;
    height: 48px;
    width: 370px;
}

.button {
    background-color: #F5A623;
    padding: 9px 41px;
    text-align: center;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.footerblock {
    background: #333333;
    line-height: 32px;
}

.footer-section-phone a {
    font-family: 'Oswald', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none; 
}

.footer-section-mail a {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none; 
}

.footer-section-socnet {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.footer-rights-reserv {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.502972);
    }