*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: auto;
    height: 700px;
}

.flex-container div {
    height: 400px;
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(234, 234, 192) ;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
}

div:first-child,
div:nth-child(5) {
    align-self: flex-end;
} 

div:nth-child(3) {
    align-self: center;
    background-color: green;
}

div:nth-child(5) {
    background-color: brown;
}

div:nth-child(7) {
    background-color: rgb(86, 62, 62);
}

