*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: auto;
    justify-content: space-evenly;
    margin-top: 20px;
}

.flex-container div {
    height: 100px;
    width: calc(100%/9);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: royalblue;
    padding-top: 20px;
    margin-left: 40px;
    margin-bottom: 40px;
}

div:nth-child(1) {
    order: 1;
}

div:nth-child(3) {
    order: 2;
}

div:nth-child(2) {
    margin-left: 60px;
}

div:nth-child(3){
    margin-right: 60px;
}