* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

<!--.child  container {
    margin-right: 15px;
    margin-bottom: 15px; 
    height: 50px; 
}-->

.child {
    margin-right: 15px;
    margin-bottom: 15px; 
    height: 80px;
    width: 150px; 
}
.child:first-child {
    background: red;
}
 
.child:nth-child(10),
.child:nth-child(17) {
    font-size: 34px;
}

.child:nth-child(n+6) {
    background: blue;
}

.child:last-child {
    background: green;
    margin-left: 50px;
}

.child:hover:nth-child(3n) {
    border: 3px dashed green ;
}