*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row-reverse;
}

.flex-container div {
    width: calc((100%-11*10px) / 10);
    border: 1px solid black;
    margin: 5px;
    background-color: rgb(238, 109, 39);
}

.flex-container div:nth-child(3) {
    font-size: 22px;
}

.flex-container div:nth-child(5) {
    font-size: 8px;
}

.flex-container div:nth-child(8) {
    font-size: 48px;
}

.flex-container div:nth-child(1),
.flex-container div:nth-child(7),
.flex-container div:nth-child(9) {
    font-size: 12px;
}

.flex-container div:first-child {
    margin-right: 20px;
} 

.flex-container div:last-child {
    margin-left: 20px;
}