*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}

a:link {
    color: blue;
    text-decoration: none;
}

.link {
    color: red;
}

a:hover.background {
    background: pink;
}

a:hover.color {
    color: red;
}

a:hover.border {
    text-decoration: underline; 
    text-decoration-color: red;
}

a:hover.font-size {
    font-size: 130%; 
}

a:hover.font-weight {
    font-weight: bold; 
}

a:hover.border-pseudo {
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}