*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    width: 900px; /*чтобы встали как на скрине, надо ширину 1400-1600px*/
    font-family: 'Times New Roman', Times, serif;
    flex-flow: wrap;
    

}

.flex-container div {
    width: 250px;
    height: 150px;
    background-color: rgb(237, 96, 25);
    margin: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

div:nth-child(3) {
    flex-grow: 5;
}

div:nth-child(7) {
    flex-grow: 10;
}